.cont {
    position: relative;
}

.cont:hover > .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    z-index: 99;
    display: none;
    background: rgb(39, 39, 39);
    width: max-content;
}