.titleButton {
    cursor: pointer;
    padding: 4px 8px;
    color: #b1b1b1;
}

.titleButton:hover {
    background: rgba(0, 0, 0, 0.2);
}

.cont {
    position: relative;
}

.cont:hover > .dropdown {
    display: block;
}

.dropdown {
    position: absolute;
    z-index: 99;
    display: none;
    background: #383838;
    width: max-content;
}